{% extends "base.html" %}

{% block main_content %}
<section class="container">
    <h1>Cart</h1>
        {%if all_gigs %}
            {% for gig in all_gigs %}
            <table>
                <tr>

                    <th>Artist</th>
                    <th>Venue</th>
                    <th>Date</th>
                    <th>price</th>
                    <th colspan="2">Options</th>


                </tr>
                <tr>
                    <td>{{gig["artist_name"]}}</td>
                    <td>{{gig["gig_venue"]}}</td>
                    <td>{{gig["gig_date"]}}</td>
                    <td>£{{ gig["price"] }}</td>
                    <td><a href="{{ url_for('purchase', gig_id=gig['gig_id'] ) }}">Purchase</a></td>
                    <td><a href="{{ url_for('remove', gig_id=gig['gig_id'] ) }}">Remove from cart</a></td>
                </tr>
            </table>
            {% endfor %}
        {%else%}
</section>
    <section id="empty">
        <p>Your cart is empty.<a href="{{ url_for('gigs') }}">Purchase Tickets Here</a></p>
    </section>
    {%endif%}

    
{% endblock %}