{% extends "base.html" %}

{% block main_content %}
<section class="forgot">
    <h1>Password Reset</h1>
    <form id="Password_reset" method="post" action="" novalidate>
        {{form.hidden_tag() }}
        {{form.password.label}}
        {{form.password()}}
        {%for error in form.password.errors%}
            {{error}}
        {%endfor%}
        <br/>
        {{form.password2.label}}
        {{form.password2()}}
        {%for error in form.password2.errors%}
            {{error}}
        {%endfor%}
        {{form.submit()}}
    </form>
</section>

{% endblock %}